<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.fiori.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Site.css?v=1.4")" />
    <link href="/Content/widget1.css" rel="stylesheet" />
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/cultures/kendo.culture.fr-FR.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/messages/kendo.messages.fr-FR.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.1.220/js/jszip.min.js"></script>
    <script src="@Url.Content("~/Scripts/backstretch.min.js")"></script>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/ExtendsWidgets.js"></script>
    <script src="@Url.Content("~/Scripts/jquery-form.js")"></script>
    <script>
        var URLROOT = "@Url.Content("~/")";
        kendo.culture("fr-FR");
    </script>
    <script src="@Url.Content("~/Scripts/appmedia751.js")"></script>
    <script src="@Url.Content("~/Scripts/global.js")"></script>
    <script src="@Url.Content("~/Scripts/ApplicationDs.js?version=1.6")"></script>

</head>
<body>
    @RenderBody()
    <hr style="border:none;" />

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
